.dropdown-main{
  width: 70%;
  margin: auto;
  margin-bottom: 50px;

  h2 {
    /* Box-model */
    margin-bottom: 25px;
    /*Tipografía*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.0rem;
    color: map-get($color, primary);
    text-align: center;
  }
}

.dropdown {
  color: map-get($color, primary);
  cursor: pointer;
  position: relative;

  ul {
    position: absolute;
    top: 100%;
    width: 100%;
    display: none;
  }

  a{
    width: 78%;
    margin: auto;
    display: block;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;

    background-color: rgba(31, 43, 43, 0.521);
    color: map-get($color, primary);
    text-align: center;

    &:hover{
      background-color: darkslategrey;
    }
  }

}

  .dropdown.is-active ul {
    display: block;
  }


/*
.nav{
  margin: 30px ;
  background-color: $bg-color-menu;
}
.nav{
  ul{
     list-style: none;
  }
  .menu{
    > li{
      position: relative;
      display: inline-block; 

      &:hover{
        .submenu{
          display: block;
        }
      }
    }

    a{
      display: block;
      padding: 15px 20px;
      color: $nav-color-link;
      text-decoration: none;

      &:hover{
        background-color: $bg-color-hover;
      }
    }   
  }
  .submenu{
    position: absolute;
    width: 100%;
    background-color: $bg-color-submenu;
    display: none;

    a{
      display: block;
      padding: 15px;
      text-decoration: none;
      color: $nav-color-link;
    }
  }  
}
*/