.button {
  padding: 10px 30px;
  background-color: rgba(4, 91, 94, 0.548);
  font-weight: bold;
  color: map-get($color, primary);
  border-radius: 10px;
  cursor: pointer;
  margin: 0 15px 0 15px;
}

.button-modal {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 12px 40px;
  background-color: rgb(14, 255, 215);
  font-weight: bold;
  font-size: 28px;
  color: red;
  border-radius: 10px;
  cursor: pointer;
  display: block;
}
