*{
  /* Box-model */
  box-sizing: border-box;
}

body{
  /*Tipografía*/
  background-image: url(https://i.picsum.photos/id/1012/3973/2639.jpg?hmac=s2eybz51lnKy2ZHkE2wsgc6S81fVD1W2NKYOSh8bzDc);
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 100vh;*/

}

h1{
  /* Box-model */
  margin-top: 45px;
  margin-bottom: 35px;

  /*Tipografía*/
  font-family: 'Lobster', cursive;
  font-size: 4.5rem;
  color: map-get($color, cuaternary);
  text-align: center;
}

